<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>My Profile </title>
</head>

<body>
	<div layout:fragment="content" class="row page-edit">
		<div class="row">
			<h2>
				My Profile
			</h2>
			<form th:action="@{/seller/update}" th:object="${seller}">
				<table class="tbl-form">
					<tr>
						<td> Seller ID</td>
						<td><input readonly type="text" class="form-control" name="sellerId" th:value="${obj.sellerId}" />
						</td>
					</tr>
					<tr>
						<td> Name</td>
						<td><input type="text" class="form-control" name="name" th:value="${obj.name}" /></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><textarea class="form-control" name="address" cols="60" rows="3"
								th:text="${obj.address}"></textarea></td>
					</tr>
					<tr>
						<td>Mobile</td>
						<td><input type="text" class="form-control" name="mobile" th:value="${obj.mobile}" /></td>
					</tr>
					<tr>
						<td>Email Id</td>
						<td><input type="text" class="form-control" name="emailId" th:value="${obj.emailId}" /></td>
					</tr>
					
					<tr>
						<td>Password</td>
						<td><input type="password" class="form-control" name="password"  th:value="${obj.password}" /></td>
					</tr>
				</table>

				<input type="hidden" name="id" th:value="${obj.id}" />
				<button type="submit" class="btn btn-success btn-submit">Update</button>
			</form>
		</div>
	</div>
</body>

</html>